# Code 2
- Basic Imputation for Numerical and Categorial
- Logistic Model (Balanced/ Unbalanced)

## 1/ Import Libraries

In [ ]:
#CodeSection1
# from google.colab import drive
# drive.mount('/mntDrive')

In [1]:
#CodeSection2
import pandas as pd

## 2/ Import Data

In [2]:
#CodeSection3
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

### Check Train Data

In [3]:
#CodeSection4
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

### Check Test Data

In [4]:
#CodeSection4
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127037 entries, 0 to 127036
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    127037 non-null  int64
 1   Gender                127037 non-null  object
 2   Age                   127037 non-null  int64
 3   Driving_License       127037 non-null  int64
 4   Region_Code           127037 non-null  float64
 5   Previously_Insured    127037 non-null  int64
 6   Vehicle_Age           127037 non-null  object
 7   Vehicle_Damage        127037 non-null  object
 8   Annual_Premium        127037 non-null  float64
 9   Policy_Sales_Channel  127037 non-null  float64
 10  Vintage               127037 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 10.7+ MB

## 3/  Missing Value Imputation 
- No null value present in the data set

## 4/ Prepare Data for Model

In [5]:
#CodeSection11
# Check first 5 rows of Test Dataset
test.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297

In [6]:
#CodeSection12
# Divide Data into X and y
X= train.drop(['id','Response'], axis =1)
y=train['Response']

### Create Dummy Variables for  Categorical Variables

In [7]:
X.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217
1,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183
2,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27
3,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203
4,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39

In [8]:
#CodeSection13
# Create Dummy Variables
X=pd.get_dummies(X)

In [9]:
#CodeSection14
# Check first 5 rows of X
X.head()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Gender_Female,Gender_Male,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Vehicle_Damage_No,Vehicle_Damage_Yes
0,44,1,28.0,0,40454.0,26.0,217,0,1,0,0,1,0,1
1,76,1,3.0,0,33536.0,26.0,183,0,1,1,0,0,1,0
2,47,1,28.0,0,38294.0,26.0,27,0,1,0,0,1,0,1
3,21,1,11.0,1,28619.0,152.0,203,0,1,0,1,0,1,0
4,29,1,41.0,1,27496.0,152.0,39,1,0,0,1,0,1,0

## 5/ Build Model

In [11]:
#CodeSection15
#Start by importing LogisticRegression 
from sklearn.linear_model import LogisticRegression

#Initialize LogisticRegression
clf = LogisticRegression(max_iter=1000,class_weight='balanced')

In [12]:
#CodeSection16
# Fit Model
model = clf.fit(X,y)

### Check Accuracy of Model on Train Data

In [13]:
#CodeSection17
# Predict on Train Data and check predictions
y_pred = model.predict(X)
y_pred

array([1, 0, 1, ..., 0, 1, 0], dtype=int64)

### We can use a Accuracy Function from Metrics

In [14]:
#CodeSection17
# Import ROC_AUC_Score
from sklearn.metrics import roc_auc_score

In [15]:
#CodeSection18
# Get Actual Predictions
y_true = train['Response']

In [16]:
#CodeSection19
# Compare True values versus prediction we made
print(f" Train Accuracy : {roc_auc_score(y_true, y_pred):0.1%}")

 Train Accuracy : 78.1%

## 8/ Prediction and Submission

### Predict

In [17]:
#CodeSection20
# Get X variables from the Test Dataset
X_test = test.drop(['id'], axis=1)

In [18]:
#CodeSection21
#Covert to Dummies
X_test = pd.get_dummies(X_test)

In [19]:
#CodeSection22
# Predict (Y/N) on X Variables of Test Dataset
X_test_prep = model.predict(X_test)

### Import Sample Submission

In [20]:
#CodeSection23
sample_submission = pd.read_csv('input/sample_submission.csv')
sample_submission.head()

       id  Response
0  381110         0
1  381111         0
2  381112         0
3  381113         0
4  381114         0

### Create a Submission

In [21]:
#CodeSection24
submission = pd.DataFrame({
    'id' : test['id'],
    'Response' : X_test_prep
})

### Export Submission File

In [22]:
#CodeSection25
submission.to_csv('output/02_LR_Basic_Impute.csv', index = False)

In [ ]:
# LB Accuracy : 0.780482966230238