# Code 1
- Build Basic Pipeline
- DataFrame Checks
- Group By
- If Then Model
- First Submission
- Import & Export

## 1/ Import Libraries
- Mount Google Drive
- Import Pandas Library

In [1]:
#CodeSection1
# from google.colab import drive
# drive.mount('/mntDrive')

Mounted at /mntDrive

In [32]:
#CodeSection2
import pandas as pd

## 2/ Import Data
- Import Train and Test [use read_csv()]

In [33]:
#/mntDrive/MyDrive/Project MasterMind/1 - Planning Stage/2- Research/6- New Teaching Method/Loan Prediction (Webinar Flow)/Solution Codes/input/

In [34]:
#CodeSection3
train=pd.read_csv('input/train.csv')
test=pd.read_csv('input/test.csv')

### Check Train Data
- Check first 5 rows of train [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [35]:
#CodeSection4
train.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [36]:
#CodeSection5
train.describe(include='all')

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109,381109.000000,381109.000000,381109.000000,381109.000000,381109,381109,381109.000000,381109.000000,381109.000000,381109.000000
unique,NaN,2,NaN,NaN,NaN,NaN,3,2,NaN,NaN,NaN,NaN
top,NaN,Male,NaN,NaN,NaN,NaN,1-2 Year,Yes,NaN,NaN,NaN,NaN
freq,NaN,206089,NaN,NaN,NaN,NaN,200316,192413,NaN,NaN,NaN,NaN
mean,190555.000000,NaN,38.822584,0.997869,26.388807,0.458210,NaN,NaN,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,NaN,15.511611,0.046110,13.229888,0.498251,NaN,NaN,17213.155057,54.203995,83.671304,0.327936
min,1.000000,NaN,20.000000,0.000000,0.000000,0.000000,NaN,NaN,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,NaN,25.000000,1.000000,15.000000,0.000000,NaN,NaN,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,NaN,36.000000,1.000000,28.000000,0.000000,NaN,NaN,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,NaN,49.000000,1.000000,35.000000,1.000000,NaN,NaN,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,NaN,85.000000,1.000000,52.000000,1.000000,NaN,NaN,540165.000000,163.000000,299.000000,1.000000

In [37]:
#CodeSection6
# Convert/Map Load_Status (Y/N) to  (1/0)
# Only do this step if you have non-numerical label in the "y" variable
<Write your code here>

SyntaxError: invalid syntax (<ipython-input-37-1cc4e4cadb8a>, line 4)

In [38]:
#CodeSection7
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

### Check Test Data
- Check first 5 rows of test [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [39]:
#CodeSection8
test.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297

In [40]:
#CodeSection9
test.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage
count,127037.000000,127037.000000,127037.000000,127037.000000,127037.000000,127037.000000,127037.000000,127037.000000
mean,444628.000000,38.765903,0.998134,26.459866,0.460039,30524.643576,111.800468,154.318301
std,36672.567411,15.465814,0.043152,13.209916,0.498403,16945.297103,54.371765,83.661588
min,381110.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000
25%,412869.000000,25.000000,1.000000,15.000000,0.000000,24325.000000,26.000000,82.000000
50%,444628.000000,36.000000,1.000000,28.000000,0.000000,31642.000000,135.000000,154.000000
75%,476387.000000,49.000000,1.000000,35.000000,1.000000,39408.000000,152.000000,227.000000
max,508146.000000,85.000000,1.000000,52.000000,1.000000,472042.000000,163.000000,299.000000

In [41]:
#CodeSection10
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127037 entries, 0 to 127036
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    127037 non-null  int64
 1   Gender                127037 non-null  object
 2   Age                   127037 non-null  int64
 3   Driving_License       127037 non-null  int64
 4   Region_Code           127037 non-null  float64
 5   Previously_Insured    127037 non-null  int64
 6   Vehicle_Age           127037 non-null  object
 7   Vehicle_Damage        127037 non-null  object
 8   Annual_Premium        127037 non-null  float64
 9   Policy_Sales_Channel  127037 non-null  float64
 10  Vintage               127037 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 10.7+ MB

## 3/ Explore any one Valuable Variable 
- Identify all the Categorical Features
- Within them choose one feature that helps predict the dependent variable
- Use groupby along with sum() to get the "y" variable by the selected categoical feature
- Use value_counts() to get the total number of rows in each category

In [42]:
#CodeSection11
# We will use "Gender" for this example
# You can select any other variable of your choice
train.groupby('Gender').sum()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
Gender,,,,,,,,,
Female,33330059601,6365958,174808,4617051.0,87949,5.337373e+09,20752558.0,27053877,18185
Male,39292165894,8429678,205489,5439961.0,86679,6.310991e+09,21944720.0,31769305,28525

In [43]:
#CodeSection12
# Get count of rows based on each category in your selected Categorical Feature
train['Gender'].value_counts()

Male      206089
Female    175020
Name: Gender, dtype: int64

***Note : If the categorical feature has more than 2 values, choose the one with highest probability***

In [46]:
#CodeSection13
# Now the numbers to get the percentage of that category happening
print(f" Probability of Gender=Male giving response: {28525/206089:0.1%}")
print(f" Probability of Gender=Female giving response: {18185/175020:0.1%}")

 Probability of Gender=Male giving response: 13.8%
 Probability of Gender=Female giving response: 10.4%

### Observation
- Male shown a higher interest in vehicle insurance
- use a IF then statement to Predict the "y"/dependent variable
- Use apply(), lambda function on your selected categorical features

In [47]:
#CodeSection14
train['Prediction']=train['Gender'].apply(lambda x: 1 if x=='Male' else 0)
train.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Prediction
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0,1
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0,1
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0,0

## 4/ Check Accuracy of Model on Train Data
- Check using groupby() and sum() function

In [48]:
#CodeSection15
train.groupby('Gender').sum()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Prediction
Gender,,,,,,,,,,
Female,33330059601,6365958,174808,4617051.0,87949,5.337373e+09,20752558.0,27053877,18185,0
Male,39292165894,8429678,205489,5439961.0,86679,6.310991e+09,21944720.0,31769305,28525,206089

### We can use a Accuracy Function from Metrics
- Use the sklearn.metrics library
- Within it we will choose the "accuracy_score" function
- We will compare the Actual "y" against the Predicted "y" using the IF THEN model

In [49]:
#CodeSection16
from sklearn.metrics import roc_auc_score

In [50]:
#CodeSection17
y_actual=train['Response']
y_pred=train['Prediction']

In [51]:
#CodeSection18
print(f" Train Accuracy : {roc_auc_score(y_actual, y_pred):0.1%}")

 Train Accuracy : 54.0%

***Q : What accuracy do you observe?***

## 5/ Prediction and Submission
- now lets predict using unseen (test dataset); note test dataset does not have "y" variable
- use apply() and lambda function combo again
- check the prediciton using groupby() and sum()

### Predict

In [52]:
#CodeSection19
test['Response_pred']=test['Gender'].apply(lambda x: 1 if x=='Male' else 0)

In [55]:
#CodeSection20
test.groupby('Gender').sum()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response_pred
Gender,,,,,,,,,
Female,26143233676,2132869,58734,1555070.0,29737,1.791694e+09,6962491.0,9078535,0
Male,30340973560,2791835,68066,1806312.0,28705,2.086065e+09,7240305.0,10525599,68236

*Use **value_counts()** to check your prediction split*

In [56]:
#CodeSection21
test['Response_pred'].value_counts()

1    68236
0    58801
Name: Response_pred, dtype: int64

### Import Sample Submission
- Import the Submission file and check the first 5 rows
- Use read_csv() and head()

In [57]:
#CodeSection22
sample_submission=pd.read_csv('input/sample_submission.csv')
sample_submission.head()

       id  Response
0  381110         0
1  381111         0
2  381112         0
3  381113         0
4  381114         0

### Create a Submission
- Create a Dictionary to attach both the columns
- Convert the Dictionary to Pandas Dataframe [use DataFrame()]

In [58]:
#CodeSection23
submission = pd.DataFrame({
    'id' : test['id']   ,
    'Response' : test['Response_pred']
})

### Export Submission File
- Export to output folder

In [61]:
#CodeSection24
# Ensure you don't export the index.
submission.to_csv('output/01_IF_THEN.csv', index=False)

In [ ]:
# LB Accuracy : 0.5423419649308348